- var image_path = 'assets/images'
- var css_path = 'assets/css'
- var js_path = 'assets/js'
- var domain = 'https://example.com/'
-
  var pages = {
    top : {
      url : 'index.html',
      name : 'トップページ',
      title : 'トップページ',
      description : 'トップページです',
      keywords : 'トップページ',
      image : 'assets/img/ogp.jpg'
    },
    contents : {
      url : 'index.html',
      name : 'コンテンツ',
      title : 'コンテンツ',
      description : 'コンテンツ',
      keywords : 'コンテンツ',
      image : 'assets/img/ogp.jpg'
    },
    news : {
      url : 'index.html',
      name : 'ニュース',
      title : 'ニュース',
      description : 'ニュース',
      keywords : 'ニュース',
      image : 'assets/img/ogp.jpg'
    },
    access : {
      url : 'index.html',
      name : 'アクセス',
      title : 'アクセス',
      description : 'アクセス',
      keywords : 'アクセス',
      image : 'assets/img/ogp.jpg'
    },
    recruit : {
      url : 'index.html',
      name : '採用',
      title : '採用',
      description : '採用',
      keywords : '採用',
      image : 'assets/img/ogp.jpg'
    }
  }
